<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus gravida odio, sit amet ullamcorper sem ornare ut. Vivamus ut ex vel sapien vehicula cursus. Nam lacinia tortor et tortor elementum, ac cursus purus faucibus. Suspendisse ut libero cursus, porttitor sapien et, vulputate justo. Aenean euismod, nibh eget efficitur gravida, mauris dui placerat lectus, at tempus mi nibh quis justo. Integer hendrerit quam a dui efficitur ultricies. Donec fermentum tempor leo at sodales. Donec bibendum lacus vitae dolor sagittis, eget molestie lorem accumsan. Nullam laoreet, turpis non imperdiet malesuada, odio enim varius ex, placerat venenatis nisi leo ut diam. Quisque elementum non erat sed euismod. Morbi interdum eget eros vitae luctus. Nullam eget semper est, et convallis lectus.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-sharp fa-solid fa-envelope"> email@email.com</i>
                <li><i class="fa-solid fa-phone"></i> (00) 0000-0000 </li>
                <li><i class="fa-brands fa-whatsapp"></i> (00) 0 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>

